.navbar-container {
  border:1px solid black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.col {
  max-width: 100%;
  border: 1px solid lightgrey;
}

.weekdays-row {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 1fr;
  border: 1px solid black;
  text-align: center;
}

.row {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 1fr;
  width: 100%;
  height: 30px;
  justify-content: space-between;
  text-align: center;
  border: 1px solid lightgrey;
}

.calendar-layout-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}

.bottom-section {
  border: 1px solid lightgrey
}

.cell {
  border: 1px solid grey;
  background-color: beige;
}

.cell:hover {
  background-color: lightgreen;
  color: white;
}

.cell-disabled {
  background-color: lightgrey;
  color: lightgrey;
}

.cell-selected {
  background-color: lightcoral;
}

.main-container-header {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  text-align: center;
  border: 1px solid lightgrey;
}

.main-container-bottom {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  text-align: left;
  border: 1px solid lightgrey;
}


/* GUESTS */

.guests-container {
  width: 50%;
  border: 1px solid grey;
}

.guests-line {
  display: grid;
  grid-template-columns: 9fr 1fr 3fr 3fr 3fr;
  grid-template-rows: 40px;
}

.children-line {
  display: grid;
  grid-template-columns: 3fr 3fr 3fr 3fr;
  grid-template-rows: 40px;
}



/* BEST DEALS */

.bestDeals-container {
  width: 50%;
  border: 1px solid grey;
}

/* ALL DEALS */
.allDeals-container {
  width: 50%;
  border: 1px solid grey;
}

.allDeals-grid {
  display:grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(2,1fr);
}

.allDeals-line {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.viewAll {
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 10;
}

.viewAll-disabled {
  display: none;
}

.viewAll-span {
  margin-left: 5px;
  margin-right: 5px;
}


